In [1]:
mylist=[1,2,3,4,5]

In [2]:
mylist2=[1,"hello",2.5]

# List comprehension

In [ ]:
list_comp=[X for x in iterable <test_condition>]

In [ ]:
iterable:
list
tuple
dict
set
string

In [5]:
my_string="sunny savita"

In [3]:
my_list=[]

In [6]:
for i in my_string:
    my_list.append(i)

In [7]:
my_list

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

In [8]:
[x for x in my_string]

['s', 'u', 'n', 'n', 'y', ' ', 's', 'a', 'v', 'i', 't', 'a']

# wap to produce squre of nos from 1 to 10, store them in a list and print the list.

In [ ]:
do write this code
1. using for loop
2. using list comprehension

In [10]:
mylist=[]
for x in range(1,11):
    #print(x)
    mylist.append(x**2)

In [11]:
mylist

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [12]:
[x**2 for x in range(1,11)]

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

# wap to accpet a string from user and covert each word of the gievn string into upper case store it ina list and print that list.

In [ ]:
upper()

In [14]:
"""do write your code
1. using for loop
2. list comprehension"""

'do write your code\n1. using for loop\n2. list comprehension'

In [16]:
mystring=input("enter the name")
mylist=[]
for x in mystring:
    mylist.append(x.upper())
print(mylist)

enter the name sunny savita

['S', 'U', 'N', 'N', 'Y', ' ', 'S', 'A', 'V', 'I', 'T', 'A']

In [17]:
mystring=input("enter the name")
[x.upper()for x in mystring]

enter the name sunny savita

['S', 'U', 'N', 'N', 'Y', ' ', 'S', 'A', 'V', 'I', 'T', 'A']

In [18]:
"sunny savita".split()

['sunny', 'savita']

In [19]:
[x.upper() for x in mystring.split()]

['SUNNY', 'SAVITA']

# wap to accept 5 int from user and store then in a list, now display the sum of element and the element of list

In [28]:
mylist=[]
number=input("enter 5 interger:")
for x in number.split():
    mylist.append(int(x))
print(mylist)
print(sum(mylist))

enter 5 interger: 1 2 3 4 5

[1, 2, 3, 4, 5]
15

In [21]:
number

'1 2 3 4 5'

In [22]:
number.split()

['1', '2', '3', '4', '5']

In [24]:
"1,2,3,4,5".split(",")

['1', '2', '3', '4', '5']

In [25]:
"sunny#savita".split("#")

['sunny', 'savita']

In [26]:
"1-2-3-4-5".split("-")

['1', '2', '3', '4', '5']

# wap to produce squre of only odd nos between 1 to 50, store them in a list and print the list.

# 1. for loop
# 2. list comprehension

In [29]:
list(range(1,51))

[1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50]

In [30]:
aa=[]
for i in range(1,51):
    if i%2!=0:
        aa.append(i**2)

In [31]:
aa

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [32]:
[i**2 for i in range(1,51) if i%2!=0]

[1,
 9,
 25,
 49,
 81,
 121,
 169,
 225,
 289,
 361,
 441,
 529,
 625,
 729,
 841,
 961,
 1089,
 1225,
 1369,
 1521,
 1681,
 1849,
 2025,
 2209,
 2401]

In [ ]:
list1to50  = range(1,51)

for x in list1to50:
    if x %2 != 0:
        print(x**2)
list1to50  = range(1,51)


[x**2 for x in list1to50 if x %2 != 0 ]

In [ ]:
sqList = list()
for i in range(1,51):
    if i%2!=0:
        sqList.append(i**2)
print(sqList)

[i**2 for i in range(1,51) if i%2!=0]

In [33]:
mylist=[]
for i in range(0,5):
    number=int(input())
    mylist.append(number)

 1
 2
 3
 4
 5

In [34]:
mylist

[1, 2, 3, 4, 5]

In [35]:
input("enter 5 number with whitespace").split()

enter 5 number with whitespace 1 2 3 4 5

['1', '2', '3', '4', '5']

In [ ]:
itrabale: list,tuple,string,dict,set,range()

[x for x in itrable <test_condition>]

for reduce the code complexity
for reduce the time and space complexity
better use of this list comprehension with lambda function map function and filer function and reduce function

# create a function called removevowels() which accept a string as argument and return a list with all the vowels removed from the string

# 1. for loop
# 2. list comprehension

# tuple

In [36]:
mytuple=()

In [37]:
mytuple

()

In [38]:
mytuple=(1,2,3,45,45,6,7)

In [39]:
mytuple

(1, 2, 3, 45, 45, 6, 7)

In [40]:
mytuple=(1,"sunny",10.7,True,2+3j)

In [41]:
mytuple

(1, 'sunny', 10.7, True, (2+3j))

In [42]:
type(mytuple)

tuple

In [46]:
mytuple=(10,0)

In [51]:
mytuple2=(10,)

In [48]:
mytuple

(10, 0)

In [52]:
type(mytuple2)

tuple

In [55]:
mytuple=("sunny",)

In [56]:
type(mytuple)

tuple

In [57]:
#concept of packing and unpacking
a=1,2,3,4

In [58]:
a

(1, 2, 3, 4)

In [59]:
x,y,z,h=a

In [60]:
x

1

In [61]:
y

2

In [62]:
z

3

In [63]:
h

4

In [64]:
a=[1,2,3,4,5]

In [65]:
x,y,z,e,f=a

In [66]:
x

1

In [67]:
y

2

In [68]:
z

3

In [69]:
e

4

In [70]:
f

5

In [71]:
mytuple=(1,2,43,54,657,67,4,46,567,6)

In [72]:
print(mytuple)

(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [73]:
mytuple[5]

67

In [74]:
mytuple[8]

567

In [75]:
mytuple[-2]

567

In [76]:
mytuple[-5]

67

In [77]:
mytuple[4:7]

(657, 67, 4)

In [78]:
mynums=(10,20,30,40,50)
print(mynums[1:4])

(20, 30, 40)

In [79]:
mynums=(10,20,30, 40,50)
print(mynums[0:10])

(10, 20, 30, 40, 50)

In [80]:
Mynums=(10,20,30,40,50)
print(mynums[ :-2])

(10, 20, 30)

In [81]:
mynums=(10,20,30, 40,50)
print(mynums[4:1:-1])

(50, 40, 30)

In [82]:
mytuple

(1, 2, 43, 54, 657, 67, 4, 46, 567, 6)

In [84]:
mytuple[3]

54

In [85]:
mytuple[3]=100

TypeError: 'tuple' object does not support item assignment

In [91]:
mynums=([1,2],3,4,5,66,7)

In [93]:
mynums[0][1]=100

In [94]:
mynums

([1, 100], 3, 4, 5, 66, 7)

In [95]:
mytuple=(100,200,300,400,500)

In [96]:
mytuple=(1,2,3,4,5)

In [97]:
mytuple

(1, 2, 3, 4, 5)

In [98]:
mytuple

(1, 2, 3, 4, 5)

In [100]:
del(mytuple[3])

TypeError: 'tuple' object doesn't support item deletion

In [101]:
del(mytuple)

In [102]:
mytuple

NameError: name 'mytuple' is not defined

# function in tuple

len()

max()

min()

sum()

sorted()

any()

all()

tuple()

In [105]:
mytuple=(1,3,454,56,8,78,45,7,87)

In [106]:
len(mytuple)

9

In [107]:
max(mytuple)

454

In [108]:
min(mytuple)

1

In [109]:
sum(mytuple)

739

In [110]:
sorted(mytuple)

[1, 3, 7, 8, 45, 56, 78, 87, 454]

In [111]:
sorted(mytuple,reverse=True)

[454, 87, 78, 56, 45, 8, 7, 3, 1]

In [113]:
#atleast one element should be true
any(mytuple)

True

In [114]:
#all element should be true
all(mytuple)

True

In [115]:
tuple("sunny")

('s', 'u', 'n', 'n', 'y')

In [116]:
tuple([1,2,3,45,6,7,4,4])

(1, 2, 3, 45, 6, 7, 4, 4)

In [ ]:
iterable: iterable is a object on tope that we can iterate 
1 list
2. tuple
3. string
4. set
5. range

In [ ]:
methods for tuple
1. append()# it won't work
2. extend()# it won't work
3. insert()# it won't work
4. count()#work
5. index()#work
6. clear()# it won't work
7. pop()# it won't work
8. remove()# it won't work
8. sort()
9. reverse()

In [117]:
mytuple=(1,2,3,4,5)

In [118]:
mytuple.append(6)

AttributeError: 'tuple' object has no attribute 'append'

In [119]:
mytuple.extend([6,7])

AttributeError: 'tuple' object has no attribute 'extend'

In [120]:
mynums.insert(3,10)

AttributeError: 'tuple' object has no attribute 'insert'

In [122]:
mytuple.count(1)

1

In [124]:
mytuple

(1, 2, 3, 4, 5)

In [123]:
#here we pass element and it return the index
mytuple.index(4)

3

In [125]:
mytuple.sort()

AttributeError: 'tuple' object has no attribute 'sort'

In [126]:
mytuple.reverse()

AttributeError: 'tuple' object has no attribute 'reverse'

# member ship operator in and not in works with tuple

In [127]:
my_tuple=("a","e","i","o","u")

In [128]:
'a' in my_tuple

True

In [129]:
'z' not in my_tuple

True

# concatenation

In [130]:
odd=(1,3,5)
even=(2,4,6)

In [133]:
id(odd)

140473157439296

In [134]:
id(even)

140473159750080

In [132]:
id(odd+even)

140473157065920

In [135]:
all=odd+even

In [136]:
all

(1, 3, 5, 2, 4, 6)

# multiplication of element

In [137]:
a=(10,20,30)

In [139]:
id(a)

140473160042816

In [140]:
id(a*3)

140473159780288

# relational operators

In [147]:
a=(4,5,6)
b=(4,5,6)

In [148]:
a<b

False

# set

### 1. we can not keep duplicate value
### 2. we can not use subscript operator(we can not do indexing as well as slicing)
### 3. set is unordered collection

In [149]:
mylist=[1,2,3,4,5]#access element with index this is possible
mytuple=(1,2,3,4,5)#access element with index this is possible
myset={1,2,3,4,5}#we can not access element with index in set

In [150]:
type(mylist)

list

In [151]:
type(mytuple)

tuple

In [152]:
type(myset)

set

In [154]:
myset={1,2,3,4,56,4,3,67,56}

In [155]:
myset

{1, 2, 3, 4, 56, 67}

In [156]:
myset[0]

TypeError: 'set' object is not subscriptable

In [157]:
myset[1:4]

TypeError: 'set' object is not subscriptable

In [158]:
myset={1,"hello",10.5}

In [159]:
myset

{1, 10.5, 'hello'}

i can pass any iterable to this set funciton
set(<iterable>)

In [160]:
set([1,2,3,4,5,6])

{1, 2, 3, 4, 5, 6}

In [161]:
set((1,2,3,4,5,3,4,57,3))

{1, 2, 3, 4, 5, 57}

# if i can add something in set there is a function add()

In [164]:
myset.add(10000)

In [165]:
myset

{1, 10.5, 10000, 'hello'}

# clear()

In [166]:
myset.clear()

In [167]:
myset

set()

# copy()

In [168]:
myset={1,234,46,67,6,465,68,8}

In [169]:
myset.copy()

{1, 6, 8, 46, 67, 68, 234, 465}

# pop() #remove() #update()

In [ ]:
string and dict